@model WebApplication1.Models.MARCA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PaginaDiseno.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MARCA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_MARCA }) |
    @Html.ActionLink("Regresar a marcas", "Index")
</p>
